<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>MostafaCo Travel</title>
<meta name="keywords" content="free website templates, hotel and travel, CSS, XHTML, design layout" />
<meta name="description" content="Hotel and Travel - free website template provided by templatemo.com" />
<link href="{{ STATIC_URL }}/reserve/css/templatemo_style.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}/reserve/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="templatemo_container">
	<!-- Free Website Template by www.TemplateMo.com -->
    <div id="templatemo_header">
        <div id="website_title">
            <div id="title">
	            Hotel &amp; Travel
            </div>
            <div id="salgon">
	            The best service at the lowest price</div>
        </div>
    </div> <!-- end of header -->

    <div id="templatemo_banner">
    	<div id="templatemo_menu">
            <ul>
                <li><a href="/reserve/" class="current">Home</a></li>
                <li><a href="/reserve/hotel/">Hotels</a></li>
                <li><a href="/reserve/offer_all/">All Offers</a></li>
                <li><a href="/reserve/reservation/">Booking</a></li>
                <li><a href="/reserve/login/">SignIn</a></li>
                <li><a href="/reserve/register/" class="last">SignUp</a></li>
            </ul>
        </div>
    </div> <!-- end of banner -->

    <div id="templatemo_content">

    	<div id="content_left">
        	<div class="content_left_section">

            </div> <!-- end of booking -->

            <a href="/reserve/offer_month/" target="_parent"><img src="{{ STATIC_URL }}/reserve/images/templatemo_special_offer.jpg" alt="special offer" /></a>

            <div class="cleaner_h30">&nbsp;</div>
            <div class="cleaner_horizontal_divider_01">&nbsp;</div>
            <div class="cleaner_h30">&nbsp;</div>

            <div class="content_left_section">
            <div class="content_title_01">Latest News</div>

                <div class="news_title">Nam auctor aliquam leo</div>
                    <p>Pellentesque est elit, sagittis sit amet porttitor ut, ornare vel turpis. Vivamus eu enimvitae neque its posuere rutrum. <span style='color:#ff5400'>read more</span></p>
                <div class="cleaner_h30">&nbsp;</div>

                <div class="news_title">Suspendisse pharetra eros molestie</div>
                    <p>Vivamus eu enimvitae neque its posuere rutrum. Nam accumsan turpis at turpis molestie a convallis forte tor ornare. <span style='color:#ff5400'>read more</span></p>
                  <div class="cleaner_h20">&nbsp;</div>
                    <div class="rc_btn_02"><a href="#">View All</a></div>
                </div>   <!-- end of news section -->

                <div class="cleaner_h30">&nbsp;</div>
	            <div class="cleaner_horizontal_divider_01">&nbsp;</div>
	            <div class="cleaner_h30">&nbsp;</div>

        </div> <!-- end of content left -->
        <div id="content_right">
{######################################### OUR CODE START FROM HERE ###################################################}
        <div class="content_right_section">

                <div class="content_title_01">Welcome to  hotel &amp; travel</div>
            <img src="{{ STATIC_URL }}/reserve/images/templatemo_image_01.jpg" alt="image" />
                <p>This is a free website. You may <a href="/reserve/hotel/" >Search</a> for a hotel every where in all world for free, Also you can see <a href="/reserve/offer_all/">Offer</a> provided by reservation company .</p>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, urna eu feugiat ultricies, turpis leo tempor lacus, in vestibulum diam nisl sed lorem. </p>
              <p>Mauris at tortor non mauris rhoncu vesti bulum. Praesent  purus nuncn com modo metus. Mae cen astin cidu tellus et risus com modo lobor tiSed alique.</p>
       	  </div>
            <div class="cleaner_h40">&nbsp;</div>
            <div class="content_right_2column_box">
            	<div class="content_title_01">Sign In</div>
                <p>If you register before here you can Sign In </p>
                <div class="cleaner_h10">&nbsp;</div>
                <div class="rc_btn_02"><a href="/reserve/login/">Sign In</a></div>
            </div>

            <div class="content_right_2column_box">
            	<div class="content_title_01">Sign Up</div>
                <p>You Can register for free  </p>
                <div class="cleaner_h10">&nbsp;</div>
                <div class="rc_btn_02"><a href="/reserve/register/">Sign Up</a></div>
            </div>
{################################################### END OF CODE ######################################################}
            </div> <!-- end of content right -->
        <div class="cleaner">&nbsp;</div>
    </div>
    <div id="templatemo_footer">
    Copyright © 2014 | <strong>MostafaCo Travel</strong> | <a href="#"><strong>Contact</strong></a>
        <div style="clear: both; margin-top: 10px;">

        </div>
	</div> <!-- end of footer -->
</div> <!-- end of container -->
<!-- Free Website Templates @ TemplateMo.com -->
</body>
</html>